<!doctype html>
<html>
<head>
<title>
login page
</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
table,th,td{border:2px solid black;border-collapse:collapse;text-align:center;background-color:white}
th,td{padding:5px 10px}
</style>
</head>
<body class="bii">

<div class="navbarm">
    <ul>
        <li><a href="{% url 'faculty' %}">Add Faculty</a>
			<div class="submenu">
				<ul>
					<li><a href="{% url 'sign' %}">Add student</a></li>
				</ul>	
			</div>
		</li>
		<li><a href="{% url 'stdetails' %}">Student details</a>
			<div class="submenu">
				<ul>
					<li><a href="{% url 'spersonal'%}">Personal details</a></li>
					<li><a href="{% url 'sattendance'%}">Attendance</a></li>	
				</ul>
			</div>
		</li>
		<li><a href="{% url 'fdetails' %}">Faculty details</a>
		<div class="submenu">
				<ul>
					<li><a href="{% url 'fdetails'%}">Personal details</a></li>
					<li><a href="{% url 'fattendance'%}">Attendance</a></li>
					<li><a href="{% url 'mark'%}">mark</a></li>	
				</ul>
			</div>
		
		</li>
		<li><a href="{% url 'leavemanagement' %}">Leave management</a>

			<div class="submenu">
				<ul>
					<li><a href="{% url 'fleaveapro' %}">Faculty</a></li>
					<li><a href="{% url 'sleaveapro' %}">Student</a></li>
					
				</ul>	
			</div>
		</li>
		<li>
	    	<form action="{% url 'logout1'%}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Logout" name="logout1" class="but1" > </form></li>    
    </ul>
</div>
<div class="tables1">
 <h1 class="hd">Faculty details</h1>
<table>
    <thead>
       <tr>
        <th>NAME</th>
        <th>Faculty id</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Password</th>
        </tr></thead>
    <tbody>
 {% if authors %}
 {% for i in authors%}
 <tr>
    <td>{{ i.name}}</td>
    <td>{{ i.fid}}</td>
    <td>{{ i.address}}</td>
    <td>{{ i.mobile}}</td>
    <td>{{ i.email}}</td>
    <td>{{ i.password}}</td>
 </tr>
 {%endfor%}
 {%endif%}
 </tbody>
</table>

</div>
</div>
</body>
</html>	