<!doctype html>
<html>
<head>
<title>
login page
</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
table,th,td{border:2px solid black;border-collapse:collapse;text-align:center;background-color:grey}
th,td{padding:5px 10px}
</style>
</head>
<body class="bii">
<div class="navbarm">
    <ul>
		<li><a href="{% url 'f1details' %}">My profile</a></li>
        <li><a href="{% url 'sign' %}">Add student</a></li>
		<li><a href="{% url 'sattendance' %}"> Student Attendance Register</a></li>
        <li><a href="{% url 'mark'%}">mark</a></li>	
        <li><a href="{% url 'viewattend'%}"> View Attendance</a></li>
       	<li><a href="{% url 'viewmark'%}"> View mark</a></li>
        <li><a href="{% url 'leave'%}"> Leave Application</a></li>
        <li><a href="{% url 'fleavestatus'%}">Leave status</a></li>
        <li>
	<form action="{% url 'logout1'%}" method="POST">
	{% csrf_token %}
			<input type="submit" value="Logout" name="logout1" class="but1" > </form></li>
    </ul>
</div>
</body>
</html>	